:root {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #232946;
  --secondary: #fffffe;
  --tertiary: #b8c1ec;
  --accent: #eebbc3;
  --bg: #121629;
}

main,
#drum-machine,
.pad-bank,
.drum-pad {
  display: grid;
}

body {
  margin: 0;
  background-color: var(--bg);
}

main {
  height: 100dvh;
  place-items: center;
}

audio {
  display: none;
}

#drum-machine {
  grid-template-areas:
    "pad logo"
    "pad controls";
  background-color: var(--primary);
  border-radius: .4vmax;
  padding: 2rem;
  gap: 1rem;
  column-gap: 3rem;
}

.pad-bank {
  grid-area: pad;
  grid-template-columns: repeat(3, 1fr);
  gap: .8em;
  padding: .6em;
}

.drum-pad {
  width: 34px;
  height: 34px;
  place-items: center;
  padding: 1em;
  cursor: pointer;
  outline: 2px solid var(--tertiary);
  border-radius: .3vmax;

  p {
    margin: 0;
  }

  &:active {
    color: var(--bg);
    background-color: var(--accent);
  }
}


.logo {
  grid-area: logo;
  text-align: end;
  font-size: larger;
}

.controls-container {
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: .5em;
}

#display {
  height: 24px;
  text-align: center;
  margin: 0;
  padding: 8px;
  color: var(--accent);
  background-color: var(--bg);
  border-radius: .2vmax;
}

.input-container {
  display: flex;
  flex-direction: column;

  span {
    text-align: center;
    font-size: smaller;
  }
}

input[type=checkbox] {
  display: none;
}

.label-checkbox {
  width: 64px;
  height: 32px;
  align-self: center;
  background-color: var(--secondary);
  border-radius: 1vmax;
  cursor: pointer;
  position: relative;
  transition: background-color .2s ease-out;

  &::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--tertiary);
    outline: 2px solid var(--secondary);
    top: 4px;
    transform: translateX(4px);
    position: absolute;
    transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1), background-color .2s ease;
  }
}

input[type=checkbox]:checked + .label-checkbox  {
  background-color: var(--tertiary);
}

input[type=checkbox]:checked+.label-checkbox {
  &::before {
    background-color: var(--accent);
    transform: translateX(36px);
  }
}

.range-container {
  width: 300px;
  margin: 50px auto;
}

input[type="range"] {
  -webkit-appearance: none;
  border-radius: 5px;
  background: var(--secondary);
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
  background: var(--secondary);
  border-radius: 5px;
  position: relative;
  top: 50%; /* Centra la pista verticalmente */
  transform: translateY(-50%);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--accent);
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--accent);
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: var(--secondary);
  border-radius: 5px;
}
